body, html, main {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between !important;
}

#navItems {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main {
  margin-top: 20px;
  margin-bottom: 100px;
}

.double {
  margin: 0 auto;
  display: flex;
}

.column {
  width: 50%;
}

textarea {
  min-height: 150px;
}

#appInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link:hover {
  text-decoration: none;
}

.logo {
  height: 15%;
  width: 15%;
  align-self: center
}

#logos {
  display: flex;
  justify-content: space-evenly;
}