body, html, main {
  height: 100%;
}

.navbar-nav {
  margin-left: 100px;
  width: 80%;
  display: flex !important;
  justify-content: space-between !important;
}

main {
  margin-top: 20px;
  margin-bottom: 100px;
}

.double {
  margin: 0 auto;
  display: flex;
}

.column {
  width: 50%;
}

textarea {
  min-height: 150px;
}

#appInfo {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link:hover {
  text-decoration: none;
}

.logo {
  height: 15%;
  width: 15%;
  align-self: center
}

#logos {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .double {
    margin: 0 auto;
    display: unset;
  }

  .column {
    width: 100%;
  }

  
}